.sign {
    font-weight: bold;
}
.nothingComplexed{
    font-style: italic;
    font-weight: bold;
}

.image {
    width: 500px;
    height: 250px;
}
body {
    background: lightcyan;
}
h1 {
    color: blueviolet;
}
h2 {
    color: crimson;
}
a {
    color: blue;
}
p {
    font-size: 20px;
}
ol {
    font-size: 15px;
}